{% extends 'mmt_map/base.html' %}

{% block content %}
{% load static %}
{% load i18n %}

<div class="row full_height iface_container">
	<div class="col map_container" id="map">
		<div id="year-slider" class="year-slider">
			<span id="year-label-min" class="year-label">{{ year_min }}</span>
			<div class="year-slider-track">
				<input type="range" id="year-range-min" min="{{ year_min }}" max="{{ year_max }}" value="{{ year_min }}">
				<input type="range" id="year-range-max" min="{{ year_min }}" max="{{ year_max }}" value="{{ year_max }}">
			</div>
			<span id="year-label-max" class="year-label">{{ year_max }}</span>
		</div>
		<div id="lifecycle-legend" style="position:absolute;bottom:30px;left:10px;background:rgba(255,255,255,0.9);padding:8px 12px;border-radius:4px;font-size:12px;z-index:1;box-shadow:0 1px 4px rgba(0,0,0,0.2);">
			<strong style="display:block;margin-bottom:4px;">{% trans "Life Journey" %}</strong>
			{% for key, cfg in lifecycle_config.items %}
			<span style="color:{{ cfg.color }};"><i class="fas {{ cfg.icon }}"></i> {{ cfg.label }}</span><br>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script>

// Instantiate a global MmtMap object that will deal with everything related to map interactions and data. Further methods and properties for dealing with hover interactions, click interactions, filtering and search are added in interactionHandler.js, filters.js and search.js.

mapboxgl.accessToken = '{{ config.MAPBOX_KEY }}';

const MmtMap = {

	settings: {
		mapCenter: {{ map_center|safe }},
		zoom: {{ zoom|safe }},
		{% if bounds %}
		maxBounds: {{ bounds|safe }},
		{% endif %}
		maxZoom: {{ max_zoom|safe }},
		minZoom: {{ min_zoom|safe }},
		pitch: {{ pitch|safe }},
		bearing: {{ bearing|safe }},
		scale: '{{ config.SCALE }}',
		font: '{{ config.FEATURE_LABEL_FONT}}',
		hoverThumbs: {% if config.HOVER_THUMBNAILS %}true{% else %}false{% endif %},
		locationBaseUrl: '{% url "location_detail" pk=0 %}'.replace('0/', ''),
		eventBaseUrl: '{% url "event_detail" pk=0 %}'.replace('0/', '')
	},

	themes: [
		{% for theme in themes %}
		{
			'id': '{{ theme.id }}',
			'name': '{{ theme }}',
			'color': '{{ theme.color }}'
		},
		{% endfor %}
	],

	tagLists: [
		{% for tl in tag_lists %}
		{
			'id': '#taglist_{{ tl.id }}',
			'name': '{{ tl.name }}',
			'tags': [{% for tag in tl.tags.all %}"{{ tag }}",{% endfor %}]
		},
		{% endfor %}
	],

	{% if themes %}
	themeStyleExpressions: [
    'case',
	    {% for theme in themes %}
        ['==', ['to-number', ['get', 'theme_id']], {{ theme.id }}], 
        '{{ theme.color }}',
        {% endfor %}
        '#44a3fc'
    ],
    {% else %}

    themeStyleExpressions: '#44a3fc',

    {% endif %}


    addStyle: function() {

    	// Loads the correct map style source depending on whether the user is using a link to an external map style or has uploaded a file

		let baseMapStyleUrl = '{{ config_base_map_style_url|safe }}';

		let baseMapStyleFile = '{{ config.BASE_MAP_STYLE_FILE }}';

		{% get_media_prefix as MEDIA_URL %}

		if (baseMapStyleFile != 'default.json') {
			MmtMap.style = '{{ MEDIA_URL}}' + baseMapStyleFile;
		} else {
			MmtMap.style = baseMapStyleUrl;
		}

	},

	baseMapStyleKey: '{{ config.MAPTILER_KEY }}',

	switchableLayers: '{{ config.SWITCHABLE_LAYERS }}'.split(',')

}




</script>

<script src="{% static 'js/audioHandler.js' %}"></script>
<script src="{% static 'js/interactionHandler.js' %}"></script>
<script src="{% static 'js/mmtCategoryColors.js' %}"></script>
<script src="{% static 'js/mapHandler.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/pageHandler.js' %}"></script>

<script>
	pageHandler.populatePageMenu();
	pageHandler.loadFeatureDetailFromUrlParams();
	pageHandler.showWelcomeMessage();
</script>
{% endblock %}
