<script>
mapboxgl.accessToken = '{{ config.MAPBOX_KEY }}';
var MMT_MAP_STYLE = '{{ config_base_map_style_url }}' || 'https://demotiles.maplibre.org/style.json';

function mmtCreateMap(containerId, center, zoom) {
    var map = new mapboxgl.Map({
        container: containerId,
        style: MMT_MAP_STYLE,
        center: center,
        zoom: zoom || 6
    });
    map.addControl(new mapboxgl.NavigationControl(), 'top-right');
    return map;
}

function mmtAddGradientLine(map, sourceId, layerId, data, opts) {
    opts = opts || {};
    map.addSource(sourceId, { type: 'geojson', lineMetrics: true, data: data });
    map.addLayer({
        id: layerId, type: 'line', source: sourceId,
        paint: {
            'line-width': opts.width || 3,
            'line-opacity': opts.opacity || 0.7,
            'line-gradient': [
                'interpolate', ['linear'], ['line-progress'],
                0, '#2c3e50',
                1, '#e74c3c'
            ]
        }
    });
}

function mmtCreateFAMarker(map, lngLat, icon, color, opts) {
    opts = opts || {};
    var el = document.createElement('div');
    el.innerHTML = '<i class="fas ' + icon + '" style="color:' + color + ';font-size:' + (opts.size || '20px') + ';text-shadow:0 1px 3px rgba(0,0,0,0.4);"></i>';
    el.style.cursor = 'pointer';
    if (opts.title) el.title = opts.title;
    var marker = new mapboxgl.Marker({ element: el }).setLngLat(lngLat).addTo(map);
    if (opts.url) el.addEventListener('click', function() { window.location.href = opts.url; });
    return marker;
}

var _mmtTooltip = new mapboxgl.Popup({ closeButton: false, closeOnClick: false, className: 'hover_popup' });

function mmtAddLayerHover(map, layerId, nameField) {
    nameField = nameField || 'name';
    map.on('mousemove', layerId, function(e) {
        map.getCanvas().style.cursor = 'pointer';
        var name = e.features[0].properties[nameField] || '';
        if (name) _mmtTooltip.setLngLat(e.lngLat).setHTML('<p class="m-0 p-0 text-center">' + name + '</p>').addTo(map);
    });
    map.on('mouseleave', layerId, function() {
        map.getCanvas().style.cursor = '';
        _mmtTooltip.remove();
    });
}
</script>
