{% load i18n %}
<li class="tree-item">
    <span class="tree-label">
        <i class="fas fa-globe"></i>
        {{ node.region.name }}
    </span>
    {% if node.points or node.children %}
    <ul class="tree-list">
        {% for child in node.children %}
            {% include "mmt_motm/_region_node.html" with node=child %}
        {% endfor %}
        {% for loc in node.points %}
        <li class="tree-item">
            <span class="tree-label">
                <i class="fas fa-map-pin"></i>
                <a href="{% url 'location_detail' loc.pk %}">{{ loc.current_name }}</a>
            </span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</li>
